:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey-900);
    font-family: "Figtree", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-links-card {
    /*center items*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*style container*/
    background-color: var(--grey-800);
    color: white;
    padding: 1rem;
    min-width: min(364px, 92vw);
    border-radius: 0.5rem;
}

.text-green{
    color: var(--green);
}

h1{ 
    font-size: clamp(1.25rem, 1vw, 1.5rem);
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h2{
    font-size: clamp(0.85rem, 0.75vw, 1.2rem);
    font-weight: 600;
}

p{
    font-size: clamp(0.85rem, 0.75vw, 1.2rem);
    font-weight: 400;
}

ul{
    list-style-type: none;
    width: 100%;
    margin-top: 2rem;
}

ul li{
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--grey-700);
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

ul li:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

ul li a{
    all: unset;
    font-size: clamp(0.85rem, 0.75vw, 1.2rem);
    font-weight: 700;
    text-decoration: none;
}

.avatar{
    width: 5rem; 
    height: 5rem;
    border-radius: 100%;
    object-fit: cover;
}


